{%- import '_statements.j2' as statements with context -%}
#
# {{ ansible_managed }}
#

#
# DHCP Server Configuration file.
#

{% if dhcpd__authoritative|d(false)|bool %}
# This DHCP server is the official DHCP server for the local network
authoritative;
{% else %}
not authoritative;
{% endif %}

{% if dhcpd__omapi_enabled|bool %}
omapi-port {{ dhcpd__omapi_port|int }};
omapi-key {{ dhcpd__omapi_key_name }};
{% endif %}

{% for name in dhcpd__keys.keys() %}
include "{{ dhcpd__keys_dir }}/{{ name }}.key";
{% endfor %}

# Global service parameters
{% for value in dhcpd__parameters %}
{{   statements.parameter(value) }}
{% endfor %}

# Global DHCP options definitions for all supported networks
{% for key, value in dhcpd__dhcp_options|dictsort %}
{{   statements.option(key, value) }}
{% endfor %}

# Subnets
#
{% for subnet in dhcpd__subnets %}
{{   statements.subnet(subnet) }}
{% endfor %}


# Hosts
#
{% for host in dhcpd__hosts %}
{{   statements.host(host) }}
{% endfor %}
