{{ ansible_managed|comment(decoration='# ') }}

# Additional options to start dhcpd with.
OPTIONS="-{{ dhcpd__instance.ip_version }} {{ dhcpd__instance.daemon_options }}"

# On what interfaces should the DHCP server (dhcpd) serve DHCP requests?
INTERFACES="{% if dhcpd__instance.listen_interfaces is string %}{{ dhcpd__instance.listen_interfaces }}{% else %}{{ dhcpd__instance.listen_interfaces|join(' ') }}{% endif %}"
