{%- import '_statements.j2' as statements with context -%}
{{ ansible_managed|comment(decoration='# ') }}

{% if dhcpd__instance.authoritative|d(false)|bool %}
authoritative;
{% else %}
not authoritative;
{% endif %}

{% if dhcpd__instance.omapi_enabled|bool %}
omapi-port {{ dhcpd__instance.omapi_port|int }};
omapi-key {{ dhcpd__instance.omapi_key_name }};
{% endif %}

{% for name in _dhcpd__instance_keys.keys()|list %}
include "{{ _dhcpd__instance_keys_directory }}/{{ name }}.key";
{% endfor %}

# Global service parameters
{% for value in dhcpd__instance.parameters %}
{{   statements.parameter(value) }}
{% endfor %}

# Global DHCP options definitions for all supported networks
{% for key, value in dhcpd__instance.dhcp_options|dictsort %}
{{   statements.option(key, value) }}
{% endfor %}

# Subnets
#
{% for subnet in dhcpd__instance.subnets %}
{{   statements.subnet(subnet) }}
{% endfor %}

# Hosts
#
{% for host in dhcpd__instance.hosts %}
{{   statements.host(host) }}
{% endfor %}
